<!doctype html>
<html>
  <head>
    <title>Регистрация</title>
  </head>
  <body>
    <h1>Регистрация</h1>
    <form method="post">
      <label for="username">Логин</label>
      <input type="text" name="username" required>
      <br>
      <label for="name">Имя</label>
      <input type="text" name="name" required>
      <br>
      <label for="email">E-mail</label>
      <input type="email" name="email" required>
      <br>
      <label for="password">Пароль</label>
      <input type="password" name="password" required>
      <br>
      <input type="submit" value="Зарегистрироваться">
    </form>
  </body>
</html>